[Desktop Entry]
Type=Application
Version=1.0.0+390
Name=PicGuard
GenericName=PicGuard
Comment=Your pictures, your signature.
Icon=com.kjxbyz.PicGuard
Exec=picguard %U
Categories=Utility;
Keywords=PicGuard;Watermark;Assistant;Watermark Assistant;
StartupNotify=true
Terminal=false