[Desktop Entry]
Type=Application

Name=PicGuard
Comment=Your pictures, your signature.
Categories=Utility;

Icon=com.kjxbyz.PicGuard
Exec=picguard %U
Terminal=false
StartupWMClass=picguard
Keywords=PicGuard;Watermark;Assistant;Watermark Assistant;