<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <?define FlutterBuildOutputDir = "$(env.FLUTTER_BUILD_OUTPUT_DIR)" ?>
  <?define ShortcutsIconPath = "$(env.IconPath)" ?>

  <Fragment>
    <!-- Define the icon to use for all shortcuts -->
    <Icon Id="PicGuard.exe" SourceFile="$(ShortcutsIconPath)"/>

    <ComponentGroup Id="BaseComponents" Directory="INSTALLFOLDER">
      <Component>
        <!-- We wrap single files in components to let the linker generate the GUIDs -->
        <File Id="PicGuard.exe" Source="$(FlutterBuildOutputDir)\PicGuard.exe" KeyPath="yes" />
        <Shortcut Name="PicGuard" Description="Your pictures, your signature." Directory="ProgramMenuFolder" Advertise="yes" Icon="PicGuard.exe" />
      </Component>
      <Component>
        <File Source="$(FlutterBuildOutputDir)\file_saver_plugin.dll" />
      </Component>
      <Component>
        <File Source="$(FlutterBuildOutputDir)\file_selector_windows_plugin.dll" />
      </Component>
      <Component>
        <File Source="$(FlutterBuildOutputDir)\flutter_windows.dll" />
      </Component>
      <Component>
        <File Source="$(FlutterBuildOutputDir)\irondash_engine_context_plugin.dll" />
      </Component>
      <Component>
        <File Source="$(FlutterBuildOutputDir)\msvcp140.dll" />
      </Component>
      <Component>
        <File Source="$(FlutterBuildOutputDir)\permission_handler_windows_plugin.dll" />
      </Component>
      <Component>
        <File Source="$(FlutterBuildOutputDir)\sentry.dll" />
      </Component>
      <Component>
        <File Source="$(FlutterBuildOutputDir)\super_native_extensions.dll" />
      </Component>
      <Component>
        <File Source="$(FlutterBuildOutputDir)\super_native_extensions_plugin.dll" />
      </Component>
      <Component>
        <File Source="$(FlutterBuildOutputDir)\tray_manager_plugin.dll" />
      </Component>
      <Component>
        <File Source="$(FlutterBuildOutputDir)\url_launcher_windows_plugin.dll" />
      </Component>
      <Component>
        <File Source="$(FlutterBuildOutputDir)\vcruntime140_1.dll" />
      </Component>
      <Component>
        <File Source="$(FlutterBuildOutputDir)\vcruntime140.dll" />
      </Component>
      <Component>
        <File Source="$(FlutterBuildOutputDir)\LICENSE.rtf" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="DataComponents" Directory="DATAFOLDER">
      <Component>
        <File Source="$(FlutterBuildOutputDir)\data\app.so" />
      </Component>
      <Component>
        <File Source="$(FlutterBuildOutputDir)\data\icudtl.dat" />
      </Component>
    </ComponentGroup>

    <!-- Desktop shortcut (user's choice) -->
    <Component Id="DesktopShortcutComponent" Directory="DesktopFolder">
      <RegistryValue Root="HKCU" Key="SOFTWARE\Insco\PicGuard" Name="EnableDesktopShortcut" Value="1" />
      <Shortcut Name="PicGuard" Description="Your pictures, your signature." Directory="DesktopFolder" Target="[#PicGuard.exe]" />
    </Component>
  </Fragment>
</Wix>
