<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
  xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
<?define PkgLicensePath = "$(env.LicensePath)" ?>
<Package Name="PicGuard Pro" Manufacturer="Insco" Version="2.5.4.447" UpgradeCode="64bdde9d-fe72-49e2-abfb-19cf4d1ba55f">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

    <!-- Set an icon for Windows Settings > Apps -->
    <Property Id="ARPPRODUCTICON" Value="PicGuardPro.exe" />

    <!-- User Interface -->
    <WixVariable Id="WixUILicenseRtf" Value="$(PkgLicensePath)" />
    <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER" />

    <!-- Block 64-bit Win8/WinServer2012 (or earlier) and all 32-bit from installing -->
    <Launch Message="PicGuard Pro only supports 64-bit Windows 10/11!" Condition="Installed OR VersionNT64 >= 603"/>

    <MediaTemplate EmbedCab="yes"/>

    <Feature
        Id="Main"
        Title="PicGuard Pro"
        Description="Your pictures, your signature."
        AllowAbsent="no"
        AllowAdvertise="no">
      <!-- Flutter output -->
      <ComponentGroupRef Id="BaseComponents" />
      <ComponentGroupRef Id="DataComponents" />
      <ComponentGroupRef Id="FlutterAssetsComponents" />
    </Feature>
    <Feature
      Id="Shortcut"
      Title="PicGuard Pro"
      Description="Your pictures, your signature."
      AllowAbsent="yes"
      AllowAdvertise="no"
      Level="1">
        <ComponentGroupRef Id="BaseComponents" />
        <ComponentRef Id="DesktopShortcutComponent"/>
    </Feature>
</Package>
</Wix>
