[Desktop Entry]
Name=PicGuard
Comment=Your pictures, your signature.
Exec=picguard
Icon=${SNAP}/meta/gui/picguard.png # replace name to your app name
Terminal=false
Type=Application
Categories=Utility; #adjust accordingly your snap category
