name: Test Web

on:
  workflow_dispatch:

# Declare default permissions as readonly.
permissions: read-all

jobs:
  web:
    name: Create web
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v5

      - name: Install dependencies for Linux
        run: |
          # https://github.com/getsentry/sentry-dart/issues/2504
          sudo apt-get update -y && sudo apt-get upgrade -y
          sudo apt-get install -y curl libcurl4-openssl-dev git unzip xz-utils zip libglu1-mesa
          sudo apt-get install -y clang cmake ninja-build pkg-config libgtk-3-dev liblzma-dev libstdc++-12-dev

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          flutter-version: '3.38.1'

      - name: Flutter doctor -v
        run: flutter doctor -v

      - name: Configure .env
        run: echo "$ENV_KEY" | base64 --decode > .env
        env:
          ENV_KEY: ${{ secrets.ENV_STG_BASE64 }}

      - name: Install Flutter dependencies
        run: flutter pub get

      - name: Build flutter
        run: flutter build web --dart-define-from-file=.env --target lib/main_free.dart

      - uses: actions/upload-artifact@v5
        with:
          name: web-artifact
          path: ./build/web

      - name: Clean up
        if: ${{ always() }}
        run: |
          rm -f .env
